<%- include('./partials/header.ejs') %> <%- include('./partials/page.ejs') %>

<div class="mainContainer">
  <ul>
    <% for(let i=0; i < walls.length; i++) { %>
    <div class="single-post">
      <a href="/walls/<%= i %>">
        <li class="year">Year | <%= walls[i].year %></li>
        <li class="location">Location | <%= walls[i].location %></li>
        <li class="artist">Artist | <%= walls[i].artist %></li>

        <!-- DELETE BUTTON -->
        <form action="">
          <input type="submit" value="DELETE"/>
        </form>
      </a>
    </div>
    <% } %>
  </ul>
</div>
