<%- include('./partials/header.ejs') %> 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Walls, Scrawls, and Stalls Gallery</title>
    <link rel="stylesheet" href="/css/page-style.css" />
  </head>

  <body>
    <div class="container">
      <% for(let i=0; i < walls.length; i++) { %>
      <div class="single-post">
        <a href="/walls/<%= walls[i].id %>">
          <img src="<%= walls[i].img%>" alt="" />

          <ul class="details">
            <li class="year"><b>Year: </b> <%= walls[i].year %></li>
            <li class="location"><b>Location: </b> <%= walls[i].location %></li>
            <li class="artist"><b>Artist: </b><%= walls[i].artist %></li>
          </ul>

          <button class="showDetailBtn">SHOW DETAIL</button>
        </a>

        <!-- CRUD BUTTON DIV SECTION BELOW -->

        <!-- NOTE: HAD ORIGINALLY LEFT THESE ON GENERAL INDEX VIEW BUT REMOVED FROM VIEW FOR FINAL SUBMISSION. THOUGH THESE BUTTONS CAN APPEAR ON PAGE THERE IS AN AUTHREQUIRED MIDDLEWARE THAT PREVENTS THEM FROM ACTUALLY BEING USED UNLESS LOGGED IN. THESE BUTTONS ARE VISIBLE WHEN LOGGED IN -->

        <!-- <div class="crud-btn"> -->
        <!-- NEW BUTTON -->
        <!-- <button>
            <a href="/walls/<%= walls[i].id; %>/edit">New</a>
          </button> -->

        <!-- EDIT BUTTON -->
        <!-- <button><a href="/walls/<%= walls[i].id; %>/edit">Edit </a></button> -->

        <!-- DELETE BUTTON -->
        <!-- <form action="/walls/<%= walls[i].id%>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE" />
          </form> -->
        <!-- </div> -->
      </div>
      <% } %>
    </div>
  </body>
</html>
