<%- include('./partials/header.ejs') %> <%- include('./partials/page.ejs') %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background-color: rgb(61, 58, 58);
      }
    </style>
  </head>

  <body>
    <div class="mainContainer">
      <% for(let i=0; i < walls.length; i++) { %>
      <div class="single-doc">
     
        <a href="/walls/<%= walls[i].id %>">

          <img src="<%= walls[i].img%>" alt="" width="600" height="500"/>
      
          <ul>
            <li class="year">Year | <%= walls[i].year %></li>
            <li class="location">Location | <%= walls[i].location %></li>
            <li class="artist">Artist | <%= walls[i].artist %></li>
          </a>

          <!-- BUTTON DIV SECTION BELOW -->
          <div class="crud-btn">
            <!-- NEW BUTTON -->
            <button>
              <a href="/walls/<%= walls[i].id; %>/edit">New</a>
            </button>

            <!-- EDIT BUTTON -->

            <button><a href="/walls/<%= walls[i].id; %>/edit">Edit </a></button>

            <!-- DELETE BUTTON -->
            <form
              action="/walls/<%= walls[i].id%>?_method=DELETE"
              method="POST"
            >
              <input type="submit" value="DELETE" />
            </form>
          </div>
        </div>
        <% } %>
      </ul>
    </div>
  </body>
</html>
