<%- include('./partials/header.ejs') %>
<div class="single-post">
  <a href="/walls/<%= walls[i].id %>"></a>
  <h1><%= walls[i].year%></h1>
  <h1><%= walls[i].location%></h1>
  <h1><%= walls[i].artist%></h1>
</div>
